In [346]:
import pandas as pd
# tong so khach hang truy cap trong thang
# tgian khach hang o lai
# churn rate
# bounce rate
pd.set_option('display.max_rows', 99)

In [347]:
df = pd.read_csv('sample_mkt_data_final.csv', low_memory=False, index_col=0)
df = df.drop(labels='Unnamed: 0', axis=1)
df.columns

Index(['browser', 'visitorId', 'visitNumber', 'visitId', 'visitStartTime',
       'date', 'visits', 'hits', 'pageviews', 'timeOnSite', 'bounces',
       'transactions', 'transactionRevenue', 'source', 'fullVisitorId'],
      dtype='object')

In [348]:
df.head()

,browser,visitorId,visitNumber,visitId,visitStartTime,date,visits,hits,pageviews,timeOnSite,bounces,transactions,transactionRevenue,source,fullVisitorId
0,Safari,NaN,1,1499949144,1499949144,20170713,1,1,1.0,NaN,1.0,NaN,NaN,google,6790377449422493910
1,Chrome,NaN,1,1499948762,1499948762,20170713,1,1,1.0,NaN,1.0,NaN,NaN,google,1431348163667504299
2,Chrome,NaN,7,1499940578,1499940578,20170713,1,1,1.0,NaN,1.0,NaN,NaN,google,5628749752915535966
3,Chrome,NaN,1,1500000096,1500000096,20170713,1,1,1.0,NaN,1.0,NaN,NaN,(direct),7721996906492012430
4,Chrome,NaN,1,1499969958,1499969958,20170713,1,1,1.0,NaN,1.0,NaN,NaN,google,2699850580029059099

In [349]:
df.nunique()

browser                  29
visitorId                 0
visitNumber             179
visitId               70478
visitStartTime        70578
date                     31
visits                    1
hits                    140
pageviews               104
timeOnSite             2377
bounces                   1
transactions              4
transactionRevenue      782
source                   97
fullVisitorId         58569
dtype: int64

In [350]:
df.count()

browser               71812
visitorId                 0
visitNumber           71812
visitId               71812
visitStartTime        71812
date                  71812
visits                71812
hits                  71812
pageviews             71796
timeOnSite            35284
bounces               36408
transactions           1031
transactionRevenue     1031
source                71812
fullVisitorId         71812
dtype: int64

In [351]:
df.fullVisitorId.nunique()

58569

In [352]:
df.transactions.value_counts()

1.0    997
2.0     30
4.0      3
3.0      1
Name: transactions, dtype: int64

In [353]:
df.visitNumber[df.visitNumber==1].sum()

54681

In [354]:
new = df[df.transactions.isnull() == False]
new

,browser,visitorId,visitNumber,visitId,visitStartTime,date,visits,hits,pageviews,timeOnSite,bounces,transactions,transactionRevenue,source,fullVisitorId
1791,Chrome,NaN,1,1499927321,1499929207,20170713,1,4,4.0,34.0,NaN,1.0,6490000.0,google,7814694674795821005
2040,Chrome,NaN,3,1499948870,1499948870,20170713,1,7,7.0,327.0,NaN,1.0,47910000.0,(direct),5811594763051473521
2186,Chrome,NaN,2,1499966663,1499966663,20170713,1,10,10.0,576.0,NaN,1.0,35040000.0,(direct),1705527650625246541
2211,Chrome,NaN,10,1499967456,1499967456,20170713,1,11,11.0,797.0,NaN,1.0,20550000.0,(direct),5006189507971762636
2214,Chrome,NaN,1,1499958768,1499958768,20170713,1,11,11.0,819.0,NaN,1.0,35980000.0,google,0646447296042878517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71434,Chrome,NaN,2,1499375328,1499375328,20170706,1,50,41.0,878.0,NaN,1.0,32950000.0,google,6088881978586613693
71435,Chrome,NaN,5,1499391910,1499391910,20170706,1,51,42.0,1285.0,NaN,1.0,89520000.0,(direct),0913044232398820759
71436,Chrome,NaN,1,1499404637,1499404637,20170706,1,52,44.0,1486.0,NaN,1.0,38490000.0,(direct),9965806646035059336
71437,Chrome,NaN,2,1499385809,1499385809,20170706,1,53,38.0,1128.0,NaN,2.0,63840000.0,(direct),1681975491896946073
71438,Chrome,NaN,1,1499377019,1499377019,20170706,1,53,39.0,1006.0,NaN,1.0,30380000.0,(direct),8331169722542257564

In [355]:
new.fullVisitorId.nunique()  # new visitors

1020

In [356]:
df.pageviews.sum(), df.pageviews.mean()

(270554.0, 3.7683714970193325)

In [357]:
# trung bình thgian ở lại trên web / session, đơn vị giây
df.timeOnSite.mean()

296.7820258474096

In [358]:
# trung bình tgian visit/ khách
df.timeOnSite.sum()/ df.fullVisitorId.nunique()

178.79180112346123

# Bounce rate

In [359]:
df.bounces.sum() / len(df.bounces)

0.5069904751295048

In [360]:
df.bounces = df.bounces.fillna(0)
df

,browser,visitorId,visitNumber,visitId,visitStartTime,date,visits,hits,pageviews,timeOnSite,bounces,transactions,transactionRevenue,source,fullVisitorId
0,Safari,NaN,1,1499949144,1499949144,20170713,1,1,1.0,NaN,1.0,NaN,NaN,google,6790377449422493910
1,Chrome,NaN,1,1499948762,1499948762,20170713,1,1,1.0,NaN,1.0,NaN,NaN,google,1431348163667504299
2,Chrome,NaN,7,1499940578,1499940578,20170713,1,1,1.0,NaN,1.0,NaN,NaN,google,5628749752915535966
3,Chrome,NaN,1,1500000096,1500000096,20170713,1,1,1.0,NaN,1.0,NaN,NaN,(direct),7721996906492012430
4,Chrome,NaN,1,1499969958,1499969958,20170713,1,1,1.0,NaN,1.0,NaN,NaN,google,2699850580029059099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71807,YaBrowser,NaN,1,1499360023,1499360023,20170706,1,18,12.0,187.0,0.0,NaN,NaN,youtube.com,8636238363843235715
71808,Safari,NaN,1,1499409243,1499409243,20170706,1,22,15.0,382.0,0.0,NaN,NaN,m.youtube.com,2163624322857171652
71809,Chrome,NaN,2,1499357935,1499357935,20170706,1,23,22.0,916.0,0.0,NaN,NaN,youtube.com,7690948523840471251
71810,Chrome,NaN,1,1499340827,1499340827,20170706,1,26,24.0,1598.0,0.0,NaN,NaN,youtube.com,3556380371648369739
71811,Chrome,NaN,1,1499402632,1499402632,20170706,1,33,29.0,1003.0,0.0,NaN,NaN,youtube.com,4510124417472283674

In [361]:
import re

df.source =  df.source.replace(to_replace ='.*google.*', value = 'google', regex = True)
df.source =  df.source.replace(to_replace ='.*youtube.*', value = 'youtube', regex = True)
df.source =  df.source.replace(to_replace ='.*yahoo.*', value = 'yahoo', regex = True)
df.source =  df.source.replace(to_replace ='.*facebook.*', value = 'facebook', regex = True)
df.source =  df.source.replace(to_replace ='.*baidu.*', value = 'baidu', regex = True)

In [362]:
grouped_df = df.groupby('source')

In [363]:
import datetime as dt
df.date = pd.to_datetime(df.date)
df

,browser,visitorId,visitNumber,visitId,visitStartTime,date,visits,hits,pageviews,timeOnSite,bounces,transactions,transactionRevenue,source,fullVisitorId
0,Safari,NaN,1,1499949144,1499949144,1970-01-01 00:00:00.020170713,1,1,1.0,NaN,1.0,NaN,NaN,google,6790377449422493910
1,Chrome,NaN,1,1499948762,1499948762,1970-01-01 00:00:00.020170713,1,1,1.0,NaN,1.0,NaN,NaN,google,1431348163667504299
2,Chrome,NaN,7,1499940578,1499940578,1970-01-01 00:00:00.020170713,1,1,1.0,NaN,1.0,NaN,NaN,google,5628749752915535966
3,Chrome,NaN,1,1500000096,1500000096,1970-01-01 00:00:00.020170713,1,1,1.0,NaN,1.0,NaN,NaN,(direct),7721996906492012430
4,Chrome,NaN,1,1499969958,1499969958,1970-01-01 00:00:00.020170713,1,1,1.0,NaN,1.0,NaN,NaN,google,2699850580029059099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71807,YaBrowser,NaN,1,1499360023,1499360023,1970-01-01 00:00:00.020170706,1,18,12.0,187.0,0.0,NaN,NaN,youtube,8636238363843235715
71808,Safari,NaN,1,1499409243,1499409243,1970-01-01 00:00:00.020170706,1,22,15.0,382.0,0.0,NaN,NaN,youtube,2163624322857171652
71809,Chrome,NaN,2,1499357935,1499357935,1970-01-01 00:00:00.020170706,1,23,22.0,916.0,0.0,NaN,NaN,youtube,7690948523840471251
71810,Chrome,NaN,1,1499340827,1499340827,1970-01-01 00:00:00.020170706,1,26,24.0,1598.0,0.0,NaN,NaN,youtube,3556380371648369739
71811,Chrome,NaN,1,1499402632,1499402632,1970-01-01 00:00:00.020170706,1,33,29.0,1003.0,0.0,NaN,NaN,youtube,4510124417472283674

In [364]:
df.to_csv('data_for_dashboard.csv')

PermissionError: [Errno 13] Permission denied: 'data_for_dashboard.csv'

Bounce rate by sources

In [ ]:
bounce_rate_by_source = pd.DataFrame(grouped_df['bounces'].sum())
bounce_rate_by_source['total_click'] = pd.DataFrame(grouped_df['bounces'].count())
bounce_rate_by_source['bounce_rate'] = bounce_rate_by_source['bounces']/bounce_rate_by_source['total_click']
# bounce_rate_by_source.reset_index()

bounce_rate_by_source = bounce_rate_by_source.reset_index()
bounce_rate_by_source

                     source  bounces  total_click  bounce_rate
0                  (direct)   8606.0        19891     0.432658
1                  Partners    936.0         1788     0.523490
2            amp.reddit.com      1.0            2     0.500000
3                       aol      0.0            1     0.000000
4           arstechnica.com      0.0            1     0.000000
5                       ask     16.0           24     0.666667
6               away.vk.com      3.0            4     0.750000
7                     baidu     86.0          143     0.601399
8                      bing     54.0          111     0.486486
9           blog.golang.org     19.0           65     0.292308
10               centrum.cz      2.0            2     1.000000
11            dealspotr.com     12.0           26     0.461538
12                      dfa    124.0          302     0.410596
13           duckduckgo.com     14.0           16     0.875000
14                 facebook    587.0          930     0.631183
15            getpocket.com      0.0            3     0.000000
16               github.com      2.0            2     1.000000
17                   google  21304.0        41333     0.515424
18           gophergala.com      1.0            1     1.000000
19    int.search.tb.ask.com     17.0           23     0.739130
20         it.pinterest.com      1.0            1     1.000000
21               kidrex.org      1.0            1     1.000000
22                  kik.com      1.0            1     1.000000
23          l.messenger.com      6.0           17     0.352941
24          lunametrics.com      8.0           13     0.615385
25              m.sogou.com      3.0            4     0.750000
26               m.sp.sm.cn      2.0            2     1.000000
27               m.yz.sm.cn      5.0            7     0.714286
28        moodle.aurora.edu      2.0            2     1.000000
29                  msn.com      1.0            2     0.500000
30       newclasses.nyu.edu      0.0            1     0.000000
31     news.ycombinator.com      1.0            1     1.000000
32       online-metrics.com      2.0            5     0.400000
33      online.fullsail.edu      1.0            1     1.000000
34         outlook.live.com      7.0           10     0.700000
35            phandroid.com      7.0            9     0.777778
36                qiita.com     72.0          146     0.493151
37                quora.com     70.0          140     0.500000
38               reddit.com     54.0          189     0.285714
39              s0.2mdn.net      3.0            5     0.600000
40             sashihara.jp      8.0           14     0.571429
41         search.1and1.com      2.0            2     1.000000
42      search.mysearch.com     11.0           12     0.916667
43        search.tb.ask.com      0.0            1     0.000000
44       search.xfinity.com      6.0            6     1.000000
45  siliconvalley.about.com      2.0            3     0.666667
46        suche.t-online.de      1.0            1     1.000000
47                     t.co     27.0           38     0.710526
48            wap.sogou.com      2.0            2     1.000000
49     web.mail.comcast.net      1.0            1     1.000000
50                    yahoo     57.0          122     0.467213
51                  youtube   4260.0         6385     0.667189

In [ ]:
bounce_rate_by_source.sort_values(by='bounce_rate')['bounce_rate'][:5]

30    0.0
3     0.0
4     0.0
43    0.0
15    0.0
Name: bounce_rate, dtype: float64

In [ ]:
bounce_rate_by_source.sort_values(by='bounce_rate')['bounce_rate'][-5:]

31    1.0
22    1.0
26    1.0
41    1.0
16    1.0
Name: bounce_rate, dtype: float64

In [ ]:
bounce_rate_by_source[bounce_rate_by_source.total_click > 10].sort_values(by='total_click')

                   source  bounces  total_click  bounce_rate
42    search.mysearch.com     11.0           12     0.916667
24        lunametrics.com      8.0           13     0.615385
40           sashihara.jp      8.0           14     0.571429
13         duckduckgo.com     14.0           16     0.875000
23        l.messenger.com      6.0           17     0.352941
19  int.search.tb.ask.com     17.0           23     0.739130
5                     ask     16.0           24     0.666667
11          dealspotr.com     12.0           26     0.461538
47                   t.co     27.0           38     0.710526
9         blog.golang.org     19.0           65     0.292308
8                    bing     54.0          111     0.486486
50                  yahoo     57.0          122     0.467213
37              quora.com     70.0          140     0.500000
7                   baidu     86.0          143     0.601399
36              qiita.com     72.0          146     0.493151
38             reddit.com     54.0          189     0.285714
12                    dfa    124.0          302     0.410596
14               facebook    587.0          930     0.631183
1                Partners    936.0         1788     0.523490
51                youtube   4260.0         6385     0.667189
0                (direct)   8606.0        19891     0.432658
17                 google  21304.0        41333     0.515424

# Conversion rate

In [ ]:
no_bounce_df = df[df.bounces != 1]
no_bounce_df

,browser,visitorId,visitNumber,visitId,visitStartTime,date,visits,hits,pageviews,timeOnSite,bounces,transactions,transactionRevenue,source,fullVisitorId
1130,Chrome,NaN,1,1499974639,1499974639,20170713,1,2,2.0,34.0,0.0,NaN,NaN,google,7455855752197768008
1131,Safari,NaN,1,1499968925,1499968925,20170713,1,2,2.0,24.0,0.0,NaN,NaN,google,6966124029616866474
1132,Chrome,NaN,1,1499976303,1499976303,20170713,1,2,2.0,118.0,0.0,NaN,NaN,(direct),6519717373226385672
1133,Chrome,NaN,2,1499940366,1499940366,20170713,1,2,2.0,642.0,0.0,NaN,NaN,google,0607751342903974935
1134,Safari,NaN,1,1499992574,1499992574,20170713,1,2,2.0,109.0,0.0,NaN,NaN,google,0423941431001576156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71807,YaBrowser,NaN,1,1499360023,1499360023,20170706,1,18,12.0,187.0,0.0,NaN,NaN,youtube,8636238363843235715
71808,Safari,NaN,1,1499409243,1499409243,20170706,1,22,15.0,382.0,0.0,NaN,NaN,youtube,2163624322857171652
71809,Chrome,NaN,2,1499357935,1499357935,20170706,1,23,22.0,916.0,0.0,NaN,NaN,youtube,7690948523840471251
71810,Chrome,NaN,1,1499340827,1499340827,20170706,1,26,24.0,1598.0,0.0,NaN,NaN,youtube,3556380371648369739
71811,Chrome,NaN,1,1499402632,1499402632,20170706,1,33,29.0,1003.0,0.0,NaN,NaN,youtube,4510124417472283674

In [ ]:
no_bounce_df.transactions = no_bounce_df.transactions.fillna(0)
# Conversion rate
(no_bounce_df.transactions != 0).sum() / no_bounce_df.shape[0]

C:\Users\Admin\AppData\Local\Temp\ipykernel_16808\1913445221.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_bounce_df.transactions = no_bounce_df.transactions.fillna(0)

0.029121003276465936

In [ ]:
(no_bounce_df.transactions != 0).sum()

1031

In [ ]:
grouped_df['transactions'].count()  ## số click not bounce: transactions khác 0

source
(direct)                   653
Partners                     4
amp.reddit.com               0
aol                          0
arstechnica.com              0
ask                          0
away.vk.com                  0
baidu                        0
bing                         2
blog.golang.org              0
centrum.cz                   0
dealspotr.com                0
dfa                          4
duckduckgo.com               0
facebook                     1
getpocket.com                0
github.com                   0
google                     362
gophergala.com               0
int.search.tb.ask.com        0
it.pinterest.com             0
kidrex.org                   0
kik.com                      0
l.messenger.com              0
lunametrics.com              0
m.sogou.com                  0
m.sp.sm.cn                   0
m.yz.sm.cn                   0
moodle.aurora.edu            0
msn.com                      0
newclasses.nyu.edu           0
news.ycombinator.com         0
online-metrics.com           0
online.fullsail.edu          0
outlook.live.com             1
phandroid.com                0
qiita.com                    0
quora.com                    0
reddit.com                   0
s0.2mdn.net                  0
sashihara.jp                 0
search.1and1.com             0
search.mysearch.com          0
search.tb.ask.com            0
search.xfinity.com           0
siliconvalley.about.com      0
suche.t-online.de            0
t.co                         0
wap.sogou.com                0
web.mail.comcast.net         0
yahoo                        3
youtube                      1
Name: transactions, dtype: int64

In [ ]:
bounce_rate_by_source = bounce_rate_by_source.merge(pd.DataFrame(grouped_df['transactions'].count()), on='source')
bounce_rate_by_source['conversion_rate'] = bounce_rate_by_source['transactions'] / (bounce_rate_by_source.total_click - bounce_rate_by_source.bounces)
bounce_rate_by_source['transactions'].sum()
bounce_rate_by_source

,source,bounces,total_click,bounce_rate,transactions,conversion_rate
0,(direct),8606.0,19891,0.432658,653,0.057864
1,Partners,936.0,1788,0.523490,4,0.004695
2,amp.reddit.com,1.0,2,0.500000,0,0.000000
3,aol,0.0,1,0.000000,0,0.000000
4,arstechnica.com,0.0,1,0.000000,0,0.000000
5,ask,16.0,24,0.666667,0,0.000000
6,away.vk.com,3.0,4,0.750000,0,0.000000
7,baidu,86.0,143,0.601399,0,0.000000
8,bing,54.0,111,0.486486,2,0.035088
9,blog.golang.org,19.0,65,0.292308,0,0.000000
10,centrum.cz,2.0,2,1.000000,0,NaN
11,dealspotr.com,12.0,26,0.461538,0,0.000000
12,dfa,124.0,302,0.410596,4,0.022472
13,duckduckgo.com,14.0,16,0.875000,0,0.000000
14,facebook,587.0,930,0.631183,1,0.002915
15,getpocket.com,0.0,3,0.000000,0,0.000000
16,github.com,2.0,2,1.000000,0,NaN
17,google,21304.0,41333,0.515424,362,0.018074
18,gophergala.com,1.0,1,1.000000,0,NaN
19,int.search.tb.ask.com,17.0,23,0.739130,0,0.000000
20,it.pinterest.com,1.0,1,1.000000,0,NaN
21,kidrex.org,1.0,1,1.000000,0,NaN
22,kik.com,1.0,1,1.000000,0,NaN
23,l.messenger.com,6.0,17,0.352941,0,0.000000
24,lunametrics.com,8.0,13,0.615385,0,0.000000
25,m.sogou.com,3.0,4,0.750000,0,0.000000
26,m.sp.sm.cn,2.0,2,1.000000,0,NaN
27,m.yz.sm.cn,5.0,7,0.714286,0,0.000000
28,moodle.aurora.edu,2.0,2,1.000000,0,NaN
29,msn.com,1.0,2,0.500000,0,0.000000
30,newclasses.nyu.edu,0.0,1,0.000000,0,0.000000
31,news.ycombinator.com,1.0,1,1.000000,0,NaN
32,online-metrics.com,2.0,5,0.400000,0,0.000000
33,online.fullsail.edu,1.0,1,1.000000,0,NaN
34,outlook.live.com,7.0,10,0.700000,1,0.333333
35,phandroid.com,7.0,9,0.777778,0,0.000000
36,qiita.com,72.0,146,0.493151,0,0.000000
37,quora.com,70.0,140,0.500000,0,0.000000
38,reddit.com,54.0,189,0.285714,0,0.000000
39,s0.2mdn.net,3.0,5,0.600000,0,0.000000
40,sashihara.jp,8.0,14,0.571429,0,0.000000
41,search.1and1.com,2.0,2,1.000000,0,NaN
42,search.mysearch.com,11.0,12,0.916667,0,0.000000
43,search.tb.ask.com,0.0,1,0.000000,0,0.000000
44,search.xfinity.com,6.0,6,1.000000,0,NaN
45,siliconvalley.about.com,2.0,3,0.666667,0,0.000000
46,suche.t-online.de,1.0,1,1.000000,0,NaN
47,t.co,27.0,38,0.710526,0,0.000000
48,wap.sogou.com,2.0,2,1.000000,0,NaN
49,web.mail.comcast.net,1.0,1,1.000000,0,NaN
50,yahoo,57.0,122,0.467213,3,0.046154
51,youtube,4260.0,6385,0.667189,1,0.000471

In [ ]:
# bounce_rate_by_source = bounce_rate_by_source.merge(pd.DataFrame(grouped_df['transactions'].count()), on='source')
bounce_rate_by_source['conversion_rate_2'] = bounce_rate_by_source['transactions'] / (bounce_rate_by_source.total_click)
# bounce_rate_by_source['transactions'].sum()
bounce_rate_by_source

,source,bounces,total_click,bounce_rate,transactions,conversion_rate,conversion_rate_2
0,(direct),8606.0,19891,0.432658,653,0.057864,0.032829
1,Partners,936.0,1788,0.523490,4,0.004695,0.002237
2,amp.reddit.com,1.0,2,0.500000,0,0.000000,0.000000
3,aol,0.0,1,0.000000,0,0.000000,0.000000
4,arstechnica.com,0.0,1,0.000000,0,0.000000,0.000000
5,ask,16.0,24,0.666667,0,0.000000,0.000000
6,away.vk.com,3.0,4,0.750000,0,0.000000,0.000000
7,baidu,86.0,143,0.601399,0,0.000000,0.000000
8,bing,54.0,111,0.486486,2,0.035088,0.018018
9,blog.golang.org,19.0,65,0.292308,0,0.000000,0.000000
10,centrum.cz,2.0,2,1.000000,0,NaN,0.000000
11,dealspotr.com,12.0,26,0.461538,0,0.000000,0.000000
12,dfa,124.0,302,0.410596,4,0.022472,0.013245
13,duckduckgo.com,14.0,16,0.875000,0,0.000000,0.000000
14,facebook,587.0,930,0.631183,1,0.002915,0.001075
15,getpocket.com,0.0,3,0.000000,0,0.000000,0.000000
16,github.com,2.0,2,1.000000,0,NaN,0.000000
17,google,21304.0,41333,0.515424,362,0.018074,0.008758
18,gophergala.com,1.0,1,1.000000,0,NaN,0.000000
19,int.search.tb.ask.com,17.0,23,0.739130,0,0.000000,0.000000
20,it.pinterest.com,1.0,1,1.000000,0,NaN,0.000000
21,kidrex.org,1.0,1,1.000000,0,NaN,0.000000
22,kik.com,1.0,1,1.000000,0,NaN,0.000000
23,l.messenger.com,6.0,17,0.352941,0,0.000000,0.000000
24,lunametrics.com,8.0,13,0.615385,0,0.000000,0.000000
25,m.sogou.com,3.0,4,0.750000,0,0.000000,0.000000
26,m.sp.sm.cn,2.0,2,1.000000,0,NaN,0.000000
27,m.yz.sm.cn,5.0,7,0.714286,0,0.000000,0.000000
28,moodle.aurora.edu,2.0,2,1.000000,0,NaN,0.000000
29,msn.com,1.0,2,0.500000,0,0.000000,0.000000
30,newclasses.nyu.edu,0.0,1,0.000000,0,0.000000,0.000000
31,news.ycombinator.com,1.0,1,1.000000,0,NaN,0.000000
32,online-metrics.com,2.0,5,0.400000,0,0.000000,0.000000
33,online.fullsail.edu,1.0,1,1.000000,0,NaN,0.000000
34,outlook.live.com,7.0,10,0.700000,1,0.333333,0.100000
35,phandroid.com,7.0,9,0.777778,0,0.000000,0.000000
36,qiita.com,72.0,146,0.493151,0,0.000000,0.000000
37,quora.com,70.0,140,0.500000,0,0.000000,0.000000
38,reddit.com,54.0,189,0.285714,0,0.000000,0.000000
39,s0.2mdn.net,3.0,5,0.600000,0,0.000000,0.000000
40,sashihara.jp,8.0,14,0.571429,0,0.000000,0.000000
41,search.1and1.com,2.0,2,1.000000,0,NaN,0.000000
42,search.mysearch.com,11.0,12,0.916667,0,0.000000,0.000000
43,search.tb.ask.com,0.0,1,0.000000,0,0.000000,0.000000
44,search.xfinity.com,6.0,6,1.000000,0,NaN,0.000000
45,siliconvalley.about.com,2.0,3,0.666667,0,0.000000,0.000000
46,suche.t-online.de,1.0,1,1.000000,0,NaN,0.000000
47,t.co,27.0,38,0.710526,0,0.000000,0.000000
48,wap.sogou.com,2.0,2,1.000000,0,NaN,0.000000
49,web.mail.comcast.net,1.0,1,1.000000,0,NaN,0.000000
50,yahoo,57.0,122,0.467213,3,0.046154,0.024590
51,youtube,4260.0,6385,0.667189,1,0.000471,0.000157

In [ ]:
bounce_rate_by_source

,source,bounces,total_click,bounce_rate,transactions,conversion_rate,conversion_rate_2
0,(direct),8606.0,19891,0.432658,653,0.057864,0.032829
1,Partners,936.0,1788,0.523490,4,0.004695,0.002237
2,amp.reddit.com,1.0,2,0.500000,0,0.000000,0.000000
3,aol,0.0,1,0.000000,0,0.000000,0.000000
4,arstechnica.com,0.0,1,0.000000,0,0.000000,0.000000
5,ask,16.0,24,0.666667,0,0.000000,0.000000
6,away.vk.com,3.0,4,0.750000,0,0.000000,0.000000
7,baidu,86.0,143,0.601399,0,0.000000,0.000000
8,bing,54.0,111,0.486486,2,0.035088,0.018018
9,blog.golang.org,19.0,65,0.292308,0,0.000000,0.000000
10,centrum.cz,2.0,2,1.000000,0,NaN,0.000000
11,dealspotr.com,12.0,26,0.461538,0,0.000000,0.000000
12,dfa,124.0,302,0.410596,4,0.022472,0.013245
13,duckduckgo.com,14.0,16,0.875000,0,0.000000,0.000000
14,facebook,587.0,930,0.631183,1,0.002915,0.001075
15,getpocket.com,0.0,3,0.000000,0,0.000000,0.000000
16,github.com,2.0,2,1.000000,0,NaN,0.000000
17,google,21304.0,41333,0.515424,362,0.018074,0.008758
18,gophergala.com,1.0,1,1.000000,0,NaN,0.000000
19,int.search.tb.ask.com,17.0,23,0.739130,0,0.000000,0.000000
20,it.pinterest.com,1.0,1,1.000000,0,NaN,0.000000
21,kidrex.org,1.0,1,1.000000,0,NaN,0.000000
22,kik.com,1.0,1,1.000000,0,NaN,0.000000
23,l.messenger.com,6.0,17,0.352941,0,0.000000,0.000000
24,lunametrics.com,8.0,13,0.615385,0,0.000000,0.000000
25,m.sogou.com,3.0,4,0.750000,0,0.000000,0.000000
26,m.sp.sm.cn,2.0,2,1.000000,0,NaN,0.000000
27,m.yz.sm.cn,5.0,7,0.714286,0,0.000000,0.000000
28,moodle.aurora.edu,2.0,2,1.000000,0,NaN,0.000000
29,msn.com,1.0,2,0.500000,0,0.000000,0.000000
30,newclasses.nyu.edu,0.0,1,0.000000,0,0.000000,0.000000
31,news.ycombinator.com,1.0,1,1.000000,0,NaN,0.000000
32,online-metrics.com,2.0,5,0.400000,0,0.000000,0.000000
33,online.fullsail.edu,1.0,1,1.000000,0,NaN,0.000000
34,outlook.live.com,7.0,10,0.700000,1,0.333333,0.100000
35,phandroid.com,7.0,9,0.777778,0,0.000000,0.000000
36,qiita.com,72.0,146,0.493151,0,0.000000,0.000000
37,quora.com,70.0,140,0.500000,0,0.000000,0.000000
38,reddit.com,54.0,189,0.285714,0,0.000000,0.000000
39,s0.2mdn.net,3.0,5,0.600000,0,0.000000,0.000000
40,sashihara.jp,8.0,14,0.571429,0,0.000000,0.000000
41,search.1and1.com,2.0,2,1.000000,0,NaN,0.000000
42,search.mysearch.com,11.0,12,0.916667,0,0.000000,0.000000
43,search.tb.ask.com,0.0,1,0.000000,0,0.000000,0.000000
44,search.xfinity.com,6.0,6,1.000000,0,NaN,0.000000
45,siliconvalley.about.com,2.0,3,0.666667,0,0.000000,0.000000
46,suche.t-online.de,1.0,1,1.000000,0,NaN,0.000000
47,t.co,27.0,38,0.710526,0,0.000000,0.000000
48,wap.sogou.com,2.0,2,1.000000,0,NaN,0.000000
49,web.mail.comcast.net,1.0,1,1.000000,0,NaN,0.000000
50,yahoo,57.0,122,0.467213,3,0.046154,0.024590
51,youtube,4260.0,6385,0.667189,1,0.000471,0.000157

In [ ]:
# df['transactionRevenue'].mean()

In [ ]:
df['transactionRevenue'].sum() / df['transactions'].sum()

116137388.05970149

In [ ]:
from datetime import datetime

# input datetime
dt = datetime(2017, 7, 13, 0, 0)
epoch_time = datetime(1970, 1, 1, 0, 0)

# subtract Datetime from epoch datetime
delta = (dt - epoch_time)

In [368]:
(1500004768 - delta.total_seconds())/60/60
dt.datetime.fromtimestamp(1500004768)

datetime.datetime(2017, 7, 14, 10, 59, 28)